:root {
  --first: #001b48;
  --second: #004581;
  --third: #018abd;
  --forth: #97cbdc;
}

.App {
  overflow-y: hidden;
}

@keyframes App-logo-spin {
  0% {
    filter: drop-shadow(2px 4px 6px var(--first));
    fill: var(--first);
    left: 0px;
    top: 0px;
    transform: rotateY(360deg);
  }
  25% {
    filter: drop-shadow(2px 4px 6px var(--second));
    fill: var(--second);
    left: 200px;
    top: 0px;
  }
  50% {
    filter: drop-shadow(2px 4px 6px var(--third));
    fill: var(--third);
    left: 200px;
    top: 200px;
  }
  75% {
    filter: drop-shadow(2px 4px 6px var(--forth));
    fill: var(--forth);
    left: 0px;
    top: 200px;
  }
  100% {
    filter: drop-shadow(2px 4px 6px var(--first));
    fill: var(--first);
    left: 0px;
    top: 0px;
    transform: rotateY(0deg);
  }
}
